services:
  db:
    image: mysql
    container_name: mysqldatabase
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql
      - mysqlconfig:/etc/mysql/my.cnf

    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_ONETIME_PASSWORD=yes

volumes:
  mysqlconfig:
  mysqldata:

